{% extends 'base.html' %}
 
{% block container %}
  <div class="top-pad">
    <form method="GET" action="/" class="form-inline" id="oderby">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="submit">Sort By</button>
        </div>
        <select class="custom-select" id="inputGroupSelect03" name="sortby">
          <option value="" selected>Choose...</option>
          <option value="name">Name A-Z</option>
          <option value="-name">Name Z-A</option>
          <option value="id">ID Ascending</option>
          <option value="-id">ID Descending</option>
        </select>
      </div>
      <div class="input-group float-right"><button name="seed" value="db" id="reseed" class="btn btn-outline-danger">Re-Seed DB</button></div>
      <script type="text/javascript">
        $( document ).ready(function(){
          $('#reseed').click(function(e) {
            if ( ! confirm( "Wipe and Seed Database with generic information.") ) 
            {
              e.preventDefault();
            }
          });
        });
      </script>
    </form>
    {% for product in products %}
      <div class="well">
        <div class="row">
          <h2 class="col-sm-10">
            <small>id: {{ product['id'] }}</small>
            <a href="{{ url_for('detail', key=product['id']) }}">{{product['name'] }}</a>
            <small>$ {{ product['price'] }}</small>
          </h2>
          <form method="POST" action="./" class="col-sm-2 form form-inline">
            <button type="submit" class="btn btn-outline-danger" name="delete" value="{{ product['id'] }}">DELETE</button>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}